:root{
    --dominant-color: #EBEBEB;
    --secondary-color: #595860;
    --accent-color: #009063;

    --error-color: #fa7777;
}

body{
    background-color: var(--dominant-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

p,
label,
a,
h1,
h2,
h3{
    color: var(--secondary-color);
}


.signup-container{
    width: 300px;
    margin: auto;
    padding: 2rem;
    background-color:var(--dominant-color);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1),
    -1px -1px 10px rgba(255,255,255,0.0125);
}

.signup-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-title{
    margin-bottom: 1.5rem;
}

.signup-timeline-bx{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 2rem;
}

.circle-bx{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle-bx p{
    margin-bottom: .2rem;
    font-weight: bold;
}

.circle-bx div{
    border-radius: 50%;
    border: 2px solid var(--accent-color);
    width: 25px;
    height: 25px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-form{
    overflow: hidden;
}

.signup-form-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(300px * 3);
    transition: transform 0.5s ease-in;
}

.signup-form-bx{
    width: 100%;
}

.signup-form-bx-2{
    position: relative;
}

.signup-form-input-error-2{
    position: absolute;
    top: 0;
    right: 5rem;
    display: inline-block;
    color: var(--error-color);
    font-size: 1rem;
}

.signup-form-title{
    margin-bottom: 1rem;
}

.signup-form-input-bx {
    margin-bottom: .7rem;
    position: relative;
}

.signup-form-input-error{
    position: absolute;
    top: .2rem;
    right: 5rem;
    display: inline-block;
    color: var(--error-color);
    font-size: 0.8rem;
}

.signup-form-input-bx input{
    display: flex;
    margin-top: .3rem;
    width: 78%;
    background-color:var(--dominant-color);
    box-shadow: -2px -2px 10px rgba(255,255,255,1),
                -2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                inset 2px 2px 8px rgba(0,0,0,0.15);
    outline-color: var(--accent-color);
}

.signup-redirect-btn-bx{
    margin: .5rem 0;
}

.signup-redirect-btn-bx a{
    text-transform: capitalize;
    opacity: 0.6;
    text-decoration: underline;
    padding-left: 0;

}

.signup-form-btn-bx{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.signup-form-btn-bx button{
    display: none;
    width: 100%;
    justify-content: center;
    background-color: var(--accent-color);
    color: var(--dominant-color);
}

.signup-form-btn-bx button.active-btn{
    display: flex;
}

@media(min-width:425px){
    .signup-container{
        width: 400px;
    }
    .signup-form-wrapper{
        width: calc(400px * 3);
    }

    .signup-form-input-bx input{
        width: 84%;
    }
}


@media(min-width:500px){
    .signup-container{
        width: 450px;
    }
    .signup-form-wrapper{
        width: calc(450px * 3);
    }

    .signup-form-input-bx input{
        width: 85%;
    }
}
